* {
	box-sizing: border-box;
}
body {
	background: red;
	min-height: 100vh;
	padding: 0;
	margin: 0;
}

h1, h2 {
  position: ;
  color: white;
  font-family: arial;
  margin: 0 auto;
  text-align: center;
}

h2 {
  color: green;
}

header {
  position: relative;
  top: 50px;
}




.gallery {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
  z-index: 5;
}

.cards {
	position: absolute;
	width: 50vw;
	height: 100%;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.cards li {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 300px;
	background-color: #fff;
	position: absolute;
	top: 25%;
	left: 0;
	border-radius: 10px;
}

iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
